<div class="footer">
    <div class="footer__logo">
        <h1>JaviShop</h1>
        <div class="footer__logo--social">
           <a href="https://www.instagram.com/12jav1/" target="_blank"><img src="../../../assets/insta.png" alt="instagram"></a>
           <a href="https://github.com/JaviiAzagra" target="_blank"><img src="../../../assets/git.png" alt="instagram"></a>
           <a href="https://twitter.com/JaviAzagra_" target="_blank"><img src="../../../assets/Sin título-1.png" alt="instagram"></a>
        </div>
    </div>
    <div class="footer__terminos">
        <div class="footer__terminos--soporte">
            <h5>SOPORTE</h5>
            <ul>
                <li>Envíos</li>
                <li>Preguntas frecuentes</li>
                <li>Devoluciones</li>
            </ul>
        </div>
        <div class="footer__terminos--legal">
            <h5>AVISO LEGAL Y COOKIES</h5>
            <ul>
                <li>Política de privacidad</li>
                <li>Condiciones de Compra</li>
                <li>Aviso Legal</li>
                <li>Politica de Cookies</li>
            </ul>
        </div>

        <div class="footer__terminos--nosotros">
            <h5>SOBRE NOSOTROS</h5>
            <ul>
                <li>Nustra Historia</li>
                <li>Programa de fidelización</li>
            </ul>
        </div>
    </div>
    <div class="footer__contact">
        <h5>NUESTRA TIENDA</h5>
        <p>Madrid / Spain</p>
        <p>javiazagra12@gmail.com</p>
        <a href="https://goo.gl/maps/tHAbPxEouwX8fHEz6" target="_blank">Calle de Fuencarral, 34, 28004 Madrid</a>
    </div>
</div>