<nav class="nav">
  
  <div class="nav__links">
    <a router routerLink="">Home</a>

    <div class="dropdown">
      <a routerLink="/sneakers">Sneakers</a>
      <div class="dropdown-content">
        <a routerLink="/sneakers/adidas">Adidas</a>
        <a routerLink="/sneakers/nike">Nike</a>
        <a routerLink="/sneakers/balenciaga">Balenciaga</a>
        
      </div>
    </div>
    <a routerLink="hoodies">Hoodies</a>
    
  </div>
  <div router routerLink="/" class="nav__title">
    <img src="../../../assets/logo.png" alt="">
    <h1 >Four Corners</h1>
  </div>
  <div class="nav__links">
    <a routerLink="account">Account</a>
    <a routerLink="/sneakers/balenciaga">Cart</a>
    <a routerLink="/sneakers/balenciaga">EUR €</a>
  </div>
</nav>
