.subfooter{
    background-color: #f07c51;
        padding: 10px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        text-align: center;
    
        p{
          color: black;
        }

}
