<div class="box">
    <div class="box__info">
        <p>REBAJAS DE UN 50% EN TODO NUESTRO CATÁLOGO</p>
    </div>
    <div class="box__header">
        <img src="../../../assets/homeimg.png" alt="homeimg">
        <p>NEW DROP IN</p>
        <span><ctimer-countdown-timer [finishDateString]="'2023-02-01 00:00:00'"></ctimer-countdown-timer></span>
    </div>
    <div class="container">
        <p>Catalogo</p>
    <div class="container__products">
        <img src="../../../assets/sneakers.png" alt="adidas">
        <img src="../../../assets/hoodies.png" alt="adidas">
    </div>
    <p>Destacado</p>
    <div class="container__colecciones">
        <img src="../../../assets/airforce.png" alt="adidas">
        <img src="../../../assets/balenciaga.png" alt="adidas">
        <img src="../../../assets/dunk.png" alt="adidas">
        <img src="../../../assets/yeezy.png" alt="adidas">
    </div>
    <p>Sneakers</p>
    <div class="container__marcas">
            <img class="container__marcas--adidas" src="../../../assets/adidas.png" alt="adidas">
            <img class="container__marcas--name" src="../../../assets/nike.png" alt="adidas">
    </div>
    

    <!-- <div routerLink="sneakers" class="container__sneaker">
        <h3 class="container__sneaker--title">SNEAKERS</h3>
        <img class="container__sneaker--img" src="../../../assets/sneakers.png" alt="sneakers">
    </div>
    <div routerLink="hoodies" class="container__hoodies">
        <h3 class="container__hoodies--title">HOODIES</h3>
        <img class="container__hoodies--img" src="../../../assets/hoodies.png" alt="hoodies">
    </div> -->
</div>
</div>

