<div class="box">
    <div class="box__info">
        <p>REBAJAS DE UN 50% EN TODO NUESTRO CATÁLOGO</p>
    </div>
    <div class="box__header">
        <img src="../../../assets/homeimg.png" alt="homeimg">
        <p>NEW DROP IN</p>
        <span><ctimer-countdown-timer [finishDateString]="'2023-02-01 00:00:00'"></ctimer-countdown-timer></span>
    </div>
<div class="container">
    <div routerLink="sneakers" class="container__sneaker">
        <h3 class="container__sneaker--title">SNEAKERS</h3>
        <img class="container__sneaker--img" src="../../../assets/sneakers.png" alt="sneakers">
    </div>
    <div routerLink="hoodies" class="container__hoodies">
        <h3 class="container__hoodies--title">HOODIES</h3>
        <img class="container__hoodies--img" src="../../../assets/hoodies.png" alt="hoodies">
    </div>
</div>
</div>

